@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.bg-searchIcon {
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 25px;
}

body {
  background-color: rgba(31, 41, 55);
  ;
}



